<%- model_class = Question -%>
<div class="page-header">
  <h1>
    <img src="<%=@question.user.image_url%>" class="img-polaroid" width="64" height="64">
    <%= @question.title %>
  </h1>
  <div class="img-polaroid question-content">
    <%= raw markdown(@question.content) %>
  </div>
</div>

<style type="text/css">
  .answer-content {
    padding-top: 1em;
    padding-left: 1em;
  }
  .question-content {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 16px;
  }
  .answer-vote-balance {
    font-size: 16px;
    font-weight: bold;
  }
</style>

<% @question.answers.each do |a|%>
  <div>
    <img src="<%=a.user.image_url%>" class="img-polaroid" width="32" height="32">
    <%= image_tag 'up_32.png',class: 'up-vote', data: a.id %>
    <span id="answer-balance-<%=a.id%>" class="answer-vote-balance"><%= a.vote_balance %></span>
    <%= image_tag 'down_32.png',class: 'down-vote', data: a.id %>
  </div>
  <div class="img-polaroid">
    <div class="answer-content">
      <%= raw markdown(a.content) %>
    </div>
  </div>
  <br>
<% end%>

<div class="form-actions">
  <% if current_user!=nil && @question.user.id==current_user.id%>
    <%= link_to 'Responder',"/answers/#{@question.id}/new", :class => 'btn btn-success'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_question_path(@question), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                question_path(@question),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Responder',"/login?question_id=#{@question.id}", :class => 'btn'  %>
  <% end %>
</div>
