<h2><%= @user.name%></h2>
<p>
  <img src="<%= @user.image_url %>" class="img img-polaroid">
</p>
<style type="text/css">
  td.left {
    font-weight: bold;
  }
</style>
<table class="table">
  <tr>
    <td class="left">Perguntas</td>
    <td><%= @user.questions.count %></td>
  </tr>
  <tr>
    <td class="left">Respostas</td>
    <td><%= @user.answers.count %></td>
  </tr>
  <tr>
    <td class="left">Desde</td>
    <td><%= l @user.created_at,:format=>:short %></td>
  </tr>  
</table>
