<h1>Dúvidas</h1>

<table id="questions" class='table table-stripped'>
  <tr>
    <th>Votos</th>
    <th>Respostas</th>
    <th>Hits</th>
    <th>Título</th>
    <th>Usuário</th>
    <th>Quando</th>
  </tr>
  <% counter = 1%>
  <% @questions.each do |q|%>
    <tr id="question_<%=counter%>" class="question" data="<%= q.id%>">
      <td><%= q.votes %></td>
      <td><%= q.answers.count %></td>
      <td><%= q.hits.to_i %></td>
      <td><%= link_to q.title,question_path(q.id) %></td>
      <td><%= link_to q.user.name,'/users/'+q.user.id %></td>
      <td><%= l q.created_at,:format => :short %></td>
    </tr>
  <% counter+=1%>
  <% end %>
  
</table>

